# general garbages
.DS_Store
*~
*.o
*.aps
*.exe
*.zip
*.dmg
*.dylib
libroot*
*.meta
tmp
errors.txt
xcuserdata
onengine
onpack
objs

apps/engine-windows/onengine.exe
apps/engine-windows/onpack.exe
apps/engine-windows/libroot
apps/engine-windows/objs
apps/engine-windows/dx12headers

apps/engine-macos/engine-macos.xcodeproj/project.xcworkspace
apps/engine-macos/engine-macos.xcodeproj/xcuserdata
apps/engine-macos/build
apps/engine-macos/macos-src
apps/engine-macos/*.dmg

apps/engine-linux/objs
apps/engine-linux/libroot
apps/engine-linux/onengine
apps/engine-linux/onpack

apps/engine-ios/engine-ios.xcodeproj/project.xcworkspace
apps/engine-ios/engine-ios.xcodeproj/xcuserdata
apps/engine-ios/engine-ios/data01.arc
apps/engine-ios/ios-src

apps/engine-android/.idea
apps/engine-android/app/.cxx
apps/engine-android/app/src/main/assets
apps/engine-android/app/src/main/cpp
apps/engine-android/libopennovel-*.so
apps/engine-android/ndk
apps/engine-android/android-src

apps/engine-wasm/html
apps/engine-wasm/libwebp-1.3.2/

apps/engine-wasm-local/html
apps/engine-wasm-local/libwebp-1.3.2/

apps/engine-unity/unity-src
apps/engine-unity/libopennovel.dll
apps/engine-unity/libopennovel.dylib
apps/engine-unity/libopennovel.so
apps/engine-unity/libopennovel.nso

apps/engine-freebsd/objs
apps/engine-freebsd/libroot
apps/engine-freebsd/onengine
apps/engine-freebsd/onpack

apps/engine-netbsd/objs
apps/engine-netbsd/libroot
apps/engine-netbsd/onengine
apps/engine-netbsd/onpack

apps/engine-openbsd/objs
apps/engine-openbsd/libroot
apps/engine-openbsd/onengine
apps/engine-openbsd/onpack

apps/engine-solaris/objs
apps/engine-solaris/libroot
apps/engine-solaris/onengine
apps/engine-solaris/onpack

apps/editor-windows/libroot
apps/editor-windows/objs
apps/editor-windows/editor.exe
apps/editor-windows/web-test.exe
apps/editor-windows/dx12headers

apps/editor-macos/pro-macos.xcodeproj/project.xcworkspace
apps/editor-macos/pro-macos.xcodeproj/xcuserdata
apps/editor-macos/build
apps/editor-macos/*.dmg
