# general garbages
.DS_Store
*~
*.o
*.aps
*.exe
*.zip
*.dmg
*.dylib
libroot*
*.meta
tmp
errors.txt
xcuserdata
onengine
onpack
objs

build/engine-windows/onengine.exe
build/engine-windows/onpack.exe
build/engine-windows/libroot
build/engine-windows/objs
build/engine-windows/dx12headers

build/engine-macos/engine-macos.xcodeproj/project.xcworkspace
build/engine-macos/engine-macos.xcodeproj/xcuserdata
build/engine-macos/build
build/engine-macos/macos-src
build/engine-macos/*.dmg

build/engine-linux/objs
build/engine-linux/libroot
build/engine-linux/onengine
build/engine-linux/onpack

build/engine-ios/engine-ios.xcodeproj/project.xcworkspace
build/engine-ios/engine-ios.xcodeproj/xcuserdata
build/engine-ios/engine-ios/data01.arc
build/engine-ios/ios-src

build/engine-android/.idea
build/engine-android/app/.cxx
build/engine-android/app/src/main/assets
build/engine-android/app/src/main/cpp
build/engine-android/libopennovel-*.so
build/engine-android/ndk
build/engine-android/android-src

build/engine-wasm/html
build/engine-wasm/libwebp-1.3.2/

build/engine-wasm-local/html
build/engine-wasm-local/libwebp-1.3.2/

build/engine-unity/unity-src
build/engine-unity/libopennovel.dll
build/engine-unity/libopennovel.dylib
build/engine-unity/libopennovel.so
build/engine-unity/libopennovel.nso

build/engine-freebsd/objs
build/engine-freebsd/libroot
build/engine-freebsd/onengine
build/engine-freebsd/onpack

build/engine-netbsd/objs
build/engine-netbsd/libroot
build/engine-netbsd/onengine
build/engine-netbsd/onpack

build/engine-openbsd/objs
build/engine-openbsd/libroot
build/engine-openbsd/onengine
build/engine-openbsd/onpack

build/engine-solaris/objs
build/engine-solaris/libroot
build/engine-solaris/onengine
build/engine-solaris/onpack

build/editor-windows/libroot
build/editor-windows/objs
build/editor-windows/editor.exe
build/editor-windows/web-test.exe
build/editor-windows/dx12headers

build/editor-macos/pro-macos.xcodeproj/project.xcworkspace
build/editor-macos/pro-macos.xcodeproj/xcuserdata
build/editor-macos/build
build/editor-macos/*.dmg
